/*
different font families
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
*/

.titleContainer {
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}

.mainTitle {
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  color: #2b7cab;
}

.subTitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #2b7cab;
}

/*THIS IS THE ACTUAL CONTENT ISTELF DOWN*/
.column {
  float: right;
  width: 33.33%;
  padding-top: 20px;
}

//THe actual container itself
.leftContainer, .middleContainer, .righContainer {
  width: 90%;
  padding-left: 10px;
}

//The actual titles fonts here
.leftTitle, .middleTitle, .rightTitle {
  font-family: 'Staatliches', cursive;
}

//The actual fonts texts here
.leftParagraph, .middleParagraph, .rightParagraph {
  font-family: "Roboto", serf;
}

.pictures {
  width: 90%;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* PHONE CSS QUERIES BELOW */
@media only screen and (max-width: 700px) {
  .column {
    float: left;
    width: 100%;
  }
}
