/* Transition for all elements */
#main {
  transition: margin-left .8s;
  padding:    0px;
}

/* NAVIGATION STYLING FOR MOBILE FIRST THEN DESKTOP */
.mobileNavigation {
  overflow-x: hidden;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top:  0;
  left: 0;
  background-color: #4500FF;
  transition:  all ease-in-sine 0.8s;
  padding-top: 70px;
  z-index:  100;
}
.mobileNavigation a {
  color: white;
  display: block;
  text-decoration: none;
  transition: all ease-in-sine 0.8s;
  line-height: 30px;
  font-size: 20px;
  font-family: "Roboto";
  padding: 5px 20px 20px 50px;
}

.mobileNavigation a:hover {
  opacity: 0.7;
  transform: scale(1.1);
}


/* LINK PLACEMENT AKA THE 'a' */
.links {padding-top: 60px}

/* Open Button Stylings */
.openBtn {
  font-family: "Roboto";
  font-size: 40px;
  text-decoration: none;
  color: #000000;
  position: fixed;
  padding-left: 5px;
}

@media only screen and (min-width: 600px){
  //Open buttons is closed on desktop
  .openBtn {
    display: none;
  }
}

/* Closing Button Styling */
.closeBtn {
  position: absolute;
  left: 60%;
  top:  0px;
  font-size: 40px;
  font-family: "Roboto"
}






/* LETS HIDE THE DESKTOP NAV FROM MOBILE DEVICES
   BEFORE WE DO ANY OTHER DEVICES IN THE BOTTOM*/
@media only screen and (min-width: 600px) {
  .desktopNavigation {
    display: none;
  }
}


/* STYLING FOR SMALLEST IPADS, (DEVICES SMALLER THAN 600PX) GO HERE*/
@media (min-width: 600px) {
  .desktopNavigation {
    position: fixed;
    top:  -30px;
    left: -10px;
    margin: 0;
    width:  110%;
    z-index:  100;
    font-family: "Roboto";
    font-size: 30px;
    padding: 0px 0px 0px 40px;
    background-color: blue;
  }

}









/* STYLING FOR DESKTOP NAVIGATION IS HERE */

/* NOW LETS STYLE THE NAVIGATION FOR DESKTOP */
@media only screen and (min-width: 600px) {
  .desktopNavigation {
    position: fixed;
    width:  110%;
    margin:  0;
    top:   -40px;
    z-index:  100;
    background-color: #4500FF;
    font-family: "Roboto;"
    font-size: 30px;
    padding: 0px 10px 80px 40px
  }
  .links a{
    text-align:      center
    text-decoration: none
    padding-bottom:  30px
    padding-right:   15px
  }

  .links a:hover {
    color: #d1bffe;
  }
}
